
{lib_dirs, [
    "deps"
]}.

{sub_dirs, [
    "apps/erws"
]}.

{require_otp_vsn, "R15"}.

{erl_opts, [
    verbose,
    bin_opt_info,
    fail_on_warning,
    debug_info,
    {parse_transform, lager_transform}
]}.

{deps, [
    {'cowboy', ".*", {
        git, "git://github.com/extend/cowboy.git", "master"}
    },
    {'lager', ".*", {
        git, "git://github.com/basho/lager.git", "master"}
    },
    {'gproc', ".*", {
        git, "git://github.com/uwiger/gproc.git", "master"}
    }
]}.

